// $primary-color: #282828;
$primary-purple: #3e1151;
$accent-purple: #310d40;
// $primary-blue: #07488c;
// $accent-blue: #00698c;
$primary-brown: #c5c29b;
$accent-gold: #daa520;
$primary-gray: #a6b0b7;