@use "_colors";
@use "_mixins";

.courses {
    
    min-height: 550px;
    margin-bottom: 12px;

    &__header {
        font-family: "Rubik", sans-serif;
        color: colors.$primary-purple;
        font-size: 1.5rem;
        margin: 12px 0;

        @include mixins.medium {
            margin-left: 20px;
        }
    }

    &__btn {
        cursor: pointer;
        font-family: "Rubik", sans-serif;
        font-weight: normal;
        border-radius: 6px;
        border: 2px solid colors.$accent-purple;
        padding: 4px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    &__btn.active {
        background-color: colors.$accent-gold;
    }

    button:first-of-type {
        margin-left: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixins.medium {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include mixins.large {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.course {
    cursor: pointer;
    border: 2px solid colors.$accent-purple;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    min-height: 100px;
    min-width: 300px;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: #fff;
        border: 2px solid colors.$primary-purple;
        background: colors.$primary-purple;
    }

    @include mixins.small {
        min-height: 200px;
    }
}
