@use "colors";
@use "mixins";

.header {
    font-family: "Roboto", sans-serif;
    display: block;
    overflow: visible;
    background: colors.$primary-purple;
    height: 80px;
    border-top: 10px solid colors.$accent-purple;

    &__container {
        height: 100%;
        width: 95%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__logo-image {
        padding-left: 20px;
    }
}

.hamburger {
    position: absolute;
    right: 30px;
    width: 20px;
    height: 20px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transform-origin: 0 0;
        transition: transform 0.3s ease-out;
    }

    &__middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease-out;
        transform-origin: 0 50%;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transform-origin: 0 100%;
        transition: transform 0.3s ease-out;
    }

    &.open {
        & .hamburger__middle {
            opacity: 0;
        }
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    @include mixins.small {
        display: none;
    }
}

.nav {
    display: block;
    visibility: hidden;
    height: 100%;
    width: 100%;

    @include mixins.small {
        visibility: visible;
        margin-left: auto;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        background: colors.$primary-purple;
        position: fixed;
        top: 80px;
        left: 0;
        height: 100vh;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.1s;

        @include mixins.small {
            width: 100%;
            height: 100%;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            transform: unset;
            position: relative;
            top: initial;
            left: initial;
            border-top: none;
            transition: transform 0.01s;
        }
    }

    &__ul.open {
        visibility: visible;
        transform: translateX(0);
    }

    li {
        list-style: none;
        border-top: 4px solid colors.$accent-purple;

        @include mixins.small {
            border: none;
        }
    }

    li:last-of-type {
        border-bottom: 4px solid colors.$accent-purple;

        @include mixins.small {
            border: none;
        }
    }

    a {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding: 20px 52px;
        font-size: 1rem;

        @include mixins.small {
            padding: 10px 10px;
            font-size: 0.7rem;
        }

        @include mixins.medium {
            padding: 10px 20px;
            font-size: 1rem;
        }

        @include mixins.large {
            padding: 10px 30px;
        }
    }

    a:hover {
        color: colors.$accent-gold;
    }
}
