@use "_colors";

.course {
    font-family: sans-serif;
    font-size: 26px;
    color: #fff;
    width: 400px;
    max-width: 90%;
    margin: 10px;
    background: colors.$primary-brown;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}