*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  font-family: "Roboto", sans-serif;
  display: block;
  overflow: visible;
  background: #3e1151;
  height: 80px;
  border-top: 10px solid #310d40;
}
.header__container {
  height: 100%;
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__logo-image {
  padding-left: 20px;
}

.hamburger {
  position: absolute;
  right: 30px;
  width: 20px;
  height: 20px;
}
.hamburger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transform-origin: 0 0;
  transition: transform 0.3s ease-out;
}
.hamburger__middle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-out;
  transform-origin: 0 50%;
}
.hamburger::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transform-origin: 0 100%;
  transition: transform 0.3s ease-out;
}
.hamburger.open .hamburger__middle {
  opacity: 0;
}
.hamburger.open::before {
  transform: rotate(45deg) scaleX(1.25);
}
.hamburger.open::after {
  transform: rotate(-45deg) scaleX(1.25) translateY(1px);
}
@media (min-width: 530px) {
  .hamburger {
    display: none;
  }
}

.nav {
  display: block;
  visibility: hidden;
  height: 100%;
  width: 100%;
}
@media (min-width: 530px) {
  .nav {
    visibility: visible;
    margin-left: auto;
  }
}
.nav__ul {
  display: flex;
  flex-direction: column;
  background: #3e1151;
  position: fixed;
  top: 80px;
  left: 0;
  height: 100vh;
  width: 50%;
  transform: translateX(-100%);
  transition: transform 0.1s;
}
@media (min-width: 530px) {
  .nav__ul {
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transform: unset;
    position: relative;
    top: initial;
    left: initial;
    border-top: none;
    transition: transform 0.01s;
  }
}
.nav__ul.open {
  visibility: visible;
  transform: translateX(0);
}
.nav li {
  list-style: none;
  border-top: 4px solid #310d40;
}
@media (min-width: 530px) {
  .nav li {
    border: none;
  }
}
.nav li:last-of-type {
  border-bottom: 4px solid #310d40;
}
@media (min-width: 530px) {
  .nav li:last-of-type {
    border: none;
  }
}
.nav a {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 20px 52px;
  font-size: 1rem;
}
@media (min-width: 530px) {
  .nav a {
    padding: 10px 10px;
    font-size: 0.7rem;
  }
}
@media (min-width: 800px) {
  .nav a {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .nav a {
    padding: 10px 30px;
  }
}
.nav a:hover {
  color: #daa520;
}

.hero {
  width: 100%;
  height: 400px;
  background: url(../assets/img/hero-2.jpg);
  background-size: cover;
  background-position: 14% 0%;
}

.courses {
  min-height: 550px;
  margin-bottom: 12px;
}
.courses__header {
  font-family: "Rubik", sans-serif;
  color: #3e1151;
  font-size: 1.5rem;
  margin: 12px 0;
}
@media (min-width: 800px) {
  .courses__header {
    margin-left: 20px;
  }
}
.courses__btn {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  border-radius: 6px;
  border: 2px solid #310d40;
  padding: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.courses__btn.active {
  background-color: #daa520;
}
.courses button:first-of-type {
  margin-left: 20px;
}
.courses__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .courses__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .courses__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.course {
  cursor: pointer;
  border: 2px solid #310d40;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  min-height: 100px;
  min-width: 300px;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course:hover {
  color: #fff;
  border: 2px solid #3e1151;
  background: #3e1151;
}
@media (min-width: 530px) {
  .course {
    min-height: 200px;
  }
}

.footer {
  background: #3e1151;
  height: 100px;
  margin-top: auto;
}
.footer .container {
  height: 100%;
}
.footer__wrapper {
  font-family: "Rubik", sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
.modal__button {
  width: 30px;
  height: 30px;
  border: 2px solid #daa520;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  font-size: 1.3rem;
  padding-bottom: 1px;
  font-family: "Rubik", sans-serif;
  color: #daa520;
}
.modal__container {
  width: 90%;
  padding: 1.3rem;
  max-width: 600px;
  background: #310d40;
}
@media (min-width: 800px) {
  .modal__container {
    max-width: 800px;
  }
}
.modal__wrapper {
  width: 90%;
  height: 90vh;
  margin: 10% auto;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal__course {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #daa520;
}
.modal__course-title {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  border-bottom: 3px solid #daa520;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
@media (min-width: 530px) {
  .modal__course-title {
    font-size: 1.6rem;
  }
}
.modal__course-type {
  font-size: 1rem;
  margin-bottom: 8px;
}
@media (min-width: 530px) {
  .modal__course-type {
    font-size: 1.1rem;
  }
}
.modal__course-description {
  font-size: 0.8rem;
}
@media (min-width: 530px) {
  .modal__course-description {
    font-size: 1rem;
  }
}

.modal__bibliography {
  font-size: 0.9rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #daa520;
}
.modal__bibliography-title {
  font-size: 1rem;
  margin-bottom: 8px;
}
.modal__bibliography-item {
  font-size: 0.7rem;
  margin-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
}
.modal__bibliography-item cite {
  line-height: 1.2;
}
@media (min-width: 530px) {
  .modal__bibliography-item {
    font-size: 0.9rem;
  }
}

.modal__testimonial-title {
  margin-bottom: 8px;
}

.modal__testims-title {
  margin-bottom: 8px;
  font-size: 1rem;
}
.modal__testims.image-testim-container {
  display: flex;
}
.modal__testims.image-wrapper {
  overflow: hidden;
  border: 2px solid #daa520;
  border-radius: 10px;
  width: 100px;
  height: 110px;
}
.modal__testims.image {
  width: 100%;
}
.modal__testims.testimonial-wrapper {
  margin-left: 20px;
  margin-top: 10px;
  width: 60%;
}
.modal__testims__testimonial {
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 4px;
}
@media (min-width: 530px) {
  .modal__testims__testimonial {
    font-size: 1rem;
  }
}
.modal__testims__name {
  font-size: 0.7rem;
  color: #daa520;
  margin-bottom: 2px;
}
@media (min-width: 530px) {
  .modal__testims__name {
    font-size: 0.9rem;
  }
}
.modal__testims__occupation {
  font-size: 0.6rem;
}
@media (min-width: 530px) {
  .modal__testims__occupation {
    font-size: 0.8rem;
  }
}